aiodns==2.0.0
attrs==21.3.0
beautifulsoup4==4.10.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.9
click==8.0.3
cloudflare==2.8.15
Deprecated==1.2.13
dnspython==2.1.0
docker==5.0.3
Flask==2.0.2
idna
itsdangerous==2.0.1
Jinja2==3.0.3
jsonlines==3.0.0
MarkupSafe==2.0.1
packaging==21.3
pip==21.1.2
psutil==5.9.0
pycares==4.1.2
pycparser==2.21
pydnsbl==1.1.4
pyngrok==5.1.0
pyparsing==3.0.6
PyYAML==6.0
redis==4.1.0
redislite==6.0.674960
requests==2.26.0
setuptools==57.0.0
soupsieve==2.3.1
termcolor==1.1.0
urllib3==1.26.7
websocket-client==1.2.3
Werkzeug==2.0.2
wheel==0.36.2
wrapt==1.13.3
python-dotenv~=0.19.2
httpx~=0.21.1
rich~=10.16.2
stringcase~=1.2.0